*{
  box-sizing: border-box;
}

body{
  display: block;
  margin: .5rem;
  font-family: monospace;
  color: black;
  font-size: 1.15rem;
}

h1, h3{
  font-family: serif;
  font-weight: 200;
}

h1{
  font-size: 36pt;
}

a{
  color: magenta;
  padding: .5rem;
}

a:hover{
  color: cyan;
  cursor: crosshair;
}

a:visited{
  color: green;
  cursor: crosshair;
}

p{
  line-height: 1.75;
}

nav{
  position: fixed;
  bottom: .25rem;
  z-index: 100;
  color: black;
  mix-blend-mode: difference;
}

.main-container{
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}

.starting-point{
  display: grid;
  grid-template-columns: 1fr 16fr;
  grid-column-gap: 2rem;
}

.abc{
  position: relative;
  text-align: center;
}

.overlay:hover + .hide {
  display: block;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size: 72pt;
  text-align: center;
  z-index: 100;
  font-family: serif;
  color: green;
  mix-blend-mode: difference;
}

.behind{
  z-index: -100;
}

.hide{
  display: none;
}

.starting-point .abc p{
  text-align: center;
  font-family: serif;
  font-size: 10pt;
  color: green;
}

.uc{
  margin: 0 auto;
  padding: 1rem;
  width: 200px;
  text-align: center;
}

.spacer{
  display: block;
  height: 10rem;
}

.sticky{
  position: fixed;
  top: .25rem;
  z-index: 100;
  color: black;
  mix-blend-mode: difference;
}

.begin{
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
}


/*video information*/
#myVideo{
  height: 80vh;
  text-align: center;
  padding: 1rem;
}

#myBtn {
  background: #fff;
  padding: 1rem;
  border: none;
  color: #000;
  cursor: pointer;
  font-family: monospace;

}

#myBtn:hover {
  background: #ddd;
  color: black;
}
/*end video information*/


/*panormic images*/
.pan{
  position: relative;
}
.pan img {
  opacity: .7;
}

.pan a img:hover{
  filter: saturate(200%);

}

.skew-far-left{
  transform: skewY(-10deg);
}

.skew-left{
    transform: skewY(-5deg);
}

.skew-right{
    transform: skewY(5deg);
}

.skew-far-right{
    transform: skewY(10deg);
}


/*draggable images*/
.wrap{
  margin: 3rem;
}
.image{
  display: inline-block;
  padding: .5rem;
  opacity: .7;

}
