*{
  box-sizing: border-box;
}

html{
  background-color: #f4ebe2;
  height: 100%;
}

body{
  display: block;
  height: 120vh;
  margin: 0 auto;
  color: black;
  font-size: 1.1rem;
}
h1{
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  font-size: 28pt;
  letter-spacing: -1px;
  font-family: "Hershey", sans-serif;
}

h2{
  margin: 0;
  padding: 13px;
  font-weight: 100;
  line-height: 1.5;
}

a{
  color: magenta;
  padding: .5rem;
}

a:hover{
  cursor: pointer;
}

a:visited{
  color: green;
  cursor: crosshair;
}

p{
  line-height: 1.4;
  font-size: 14pt;
  font-family: sans-serif;
  font-weight: 100;
}

.howto{
  font-style: italic;
  color: green;
  font-size: 10pt;
}

/* index styling */

.button{
  margin: auto;
  text-align: center;
}

.filter{
  background-color: rgba(255,255,255,0.3);
  height: 100vh;
}

.vidbg{
  z-index: -100;
  margin: 0;
  padding: 0;
}
.story-parts a{
  position: absolute;
  bottom: 20px;
  font-size: 8pt;
  font-family: sans-serif;
  background-color: black;
  color: white;
  padding: 3px 7px;
  border-radius: 10px;
  text-decoration: none;
}

.srb{
  position: fixed;
  z-index: 100;
  font-family: "Times New Roman";
  font-weight: 100;
  top: 10px;
  left: 20px;
  mix-blend-mode: difference;
}

.srb a{
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.home-nav{
  position: fixed;
  z-index: 100;
  font-family: "Times New Roman";
  font-weight: 100;
}

.home-nav a{
  color: black;
  text-decoration: none;
}

#savin{
  top: 20px;
  left: 20px;
}

#info{
  right: 20px;
  top: 20px;
}

#begin{
  bottom: 20px;
  right: 20px;
}

#begin a{
  animation-name: lightup;
  animation-duration: 4s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}

@keyframes lightup{
  from {color: black;}
  to {color: magenta;}
}


.story-map-container{
  display: grid;
  grid-template-columns: 1fr 8fr 2fr;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 200px;
  margin-top: 80px;
  background: white;
  z-index: 100;
  padding: 10px 20px;
}

.map{
  position: relative;
  z-index: 110;
}

.map img{
  position: absolute;
  right: 0px;
  bottom: 2px;
  height: 180px;
}

.blip{
  height: 7px;
  width: 7px;
  background: green;
  border-radius: 50%;
  padding: 0;
  margin: 0;
}

.urhere{
  height: 7px;
  width: 7px;
  background: magenta;
  border-radius: 50%;
}

#bone{
  position: absolute;
  right: 78px;
  top: 10px;
}



#btwo{
  position: absolute;
  right: 50px;
  top: 37px
}

#bthree{
  position: absolute;
  right: 40px;
  top: 37px
}

#bfour{
  position: absolute;
  right: 12px;
  top: 56px
}

#bfive{
  position: absolute;
  right: 40px;
  top: 64px;
}

#bsix{
  position: absolute;
  right: 20px;
  top: 39px
}

#bseven{
  position: absolute;
  right: 50px;
  top: 72px
}

#beight{
  position: absolute;
  right: 60px;
  top: 82px
}

#bnine{
  position: absolute;
  right: 60px;
  top: 111px
}

#bten{
  position: absolute;
  right: 80px;
  top: 105px
}

#beleven{
  position: absolute;
  right: 120px;
  top: 126px;
}

#btwelve{
  position: absolute;
  right: 100px;
  top: 115px;
}

#bthirteen{
  position: absolute;
  right: 120px;
  top: 118px;
}

#bfourteen{
  position: absolute;
  right: 130px;
  top: 130px;
}

#bfifteen{
  position: absolute;
  right: 150px;
  top: 150px;
}

#bsixteen{
  position: absolute;
  right: 170px;
  top: 167px;
}




video{
position: fixed;
z-index: -100;
right: 50;
bottom: 0;
min-width: 100%;
min-height: 100%;
}

/*panormic images*/
.pan{
  position: relative;
  height: 1800px;
}

.pan img {
  opacity: .7;
}

.pan a img:hover{
  filter: saturate(200%);
}

.skew-far-left{
  transform: skewY(-10deg);
}

.skew-left{
    transform: skewY(-5deg);
}

.skew-right{
    transform: skewY(5deg);
}

.skew-far-right{
    transform: skewY(10deg);
}


/*draggable images*/
.wrap{
  margin: 3rem;
}
.image{
  display: inline-block;
  padding: .5rem;
  opacity: .7;
}

.essay{
  margin: 0 auto;
  padding: 4rem;
  max-width: 640px;
}
