body{
  box-sizing: border-box;
  margin: 0 auto;
  font-size: 1rem;
  font-family: monospace;
  background-color: snow;
  text-align: center;
}

h1{
  font-size: 12pt;
  font-weight: 100;
}

.emoji{
  height: 30px;
}

@media all and (max-width: 640px){
  .container{
    display: block;
    background-color: yellow;
  }
}

@media all and (min-width: 641px){
  .item-9, .item-10{
    display: none;
  }
  .container{
    display: grid;
    grid-template-areas:
    "header header"
    "item2 item8"
    "item3 item8"
    "item4 item8"
    "item5 item8"
    "item6 item8"
    "item7 item8";
  }
  .item{
    background-color: pink;
    padding: .5rem;
    margin: .5rem;
  }

  .item-1{
    grid-area: header;
  }
  .item-2{
    grid-area: item2;
  }
  .item-3{
    grid-area: item3;
  }
  .item-4{
    grid-area: item4;
  }
  .item-5{
    grid-area: item5;
  }
  .item-6{
    grid-area: item6;
  }
  .item-7{
    grid-area: item7;
  }
  .item-8{
    grid-area: item8;
  }

  .item-9{
    grid-area: item9;
  }

  .item-10{
    grid-area: item10;
  }
  }

  @media all and (min-width: 960px){
    body{
      background-color: cyan;
    }

    .item-9, .item-10{
      display: grid;
    }

    .container{
      display: grid;
      grid-template-areas:
      "header header header header header"
      ". . item2 . ."
      ". item3 item2 item4 ."
      "item5 item5 item8 item7 item7"
      ". item6 item9 item10 ."
      ". . item9 . ."
    }

  }

  @media all and (min-width: 1280px){
    body{
      background-color: yellow;
    }

    .container{
      position: relative;
    }

    .item-2{
      position: absolute;
      top: 10px;
      left: 40px;
      background-color: blue;
    }

  }
