body{
  display: block;
  background: black;
  margin: 2rem;
  text-align: center;
}

.container{
  position: absolute;
  margin: 0 auto;
  height: 1200px;
  width: 1200px;
  background: #0f1015;
}

.sky{
  position: relative;
  left: 0px;
  top: 300px;
  background-color: #74a2ff;
  border-top: 40px solid #5c6a86;
  border-bottom: 70px solid #444f65;
  height: 320px;
  width: 1200px;
  transform:skewY(12deg);
  animation: sundown 15s ease-in-out;
}

/* @-webkit-keyframes sundown{
  from {background: #74a2ff;}
  to {background: #130f42;}
}
 */
.building{
  position: absolute;
  z-index:40;
  right: 0px;
  bottom: 0px;
  height: 320px;
  width: 300px;
  background: tan;
}

.mirror{
  font-family: sans-serif;
  font-size: 4rem;
  color: silver;
  transform: scale(-1, 1);
}

.spring-ahead{
  position: absolute;
  z-index: 50;
  top: -10px;
  left: 230px;
}

.fall-back{
  position: absolute;
  z-index: 50;
  top: -10px;
  left: -2px;
}

.window{
  position: absolute;
  z-index: 45;
  background: slategray;  height: 300px;
  width: 200px;
  height: 320px;
  top: 0px;
  right: 40px;
}

.window-section1{
  position: absolute;
  height: 320px;
  width: 5px;
  background: white;

}

.window-section2{
  position: absolute;
  left: 50px;
  height: 320px;
  width: 5px;
  background: white;

}
.window-section3{
  position: absolute;
  left: 100px;
  height: 320px;
  width: 5px;
  background: white;

}
.window-section4{
  position: absolute;
  left: 150px;
  height: 320px;
  width: 5px;
  background: white;
}

.window-section5{
  position: absolute;
  left: 200px;
  height: 320px;
  width: 5px;
  background: white;
}

.pane1{
  position: absolute;
  z-index: 39;
  top: 0px;
  left: 160px;
  background: slategrey;
  height: 320px;
  width: 20px;
}

.pane2{
  position: absolute;
  z-index: 39;
  top: 0px;
  left: 700px;
  background: slategrey;
  height: 320px;
  width: 20px;
}

.cloud1{
  position:fixed;
  background:linear-gradient(0deg, #ffdbd2, white);
  height: 100px;
  width: 300px;
  top: 90px;
  left: 10px;
  z-index: 10;
  border-radius: 50px;
  filter: blur(5px);
  opacity: .7;
  animation: lazymovement1 15s ease-in-out infinite;
}

.cloud2{
  position:fixed;
  background:linear-gradient(0deg, #ffdbd2, white);
  height: 100px;
  width: 200px;
  top: 200px;
  left: 200px;
  z-index: 10;
  border-radius: 50px;
  filter: blur(5px);
  opacity: .9;
  animation: lazymovement2 15s ease-in-out infinite;
}

@-webkit-keyframes lazymovement1 {
  from {background-color: snow; transform: translate(10px, 0px);}
    to {background-color: gold; transform: translate(890px, 0px);}

}

@-webkit-keyframes lazymovement2 {
    from {background-color: snow; transform: translate(200px, 0px);}
    to {background-color: gold; transform: translate(790px, 0px);}

}




.strut-frame{
  position: relative;
  left: 0px;
  top: -140px;
  z-index: 100;
  border-top: 40px solid black;
  border-bottom: 60px solid black;
  height: 380px;
  width: 1200px;
  transform:skewY(12deg);
}

.strut-left-to-right{
  position: absolute;
  z-index: 100;
  height: 40px;
  width: 420px;
  left: 0;
  top: 240px;
  background: black;
  transform: skewY(35deg);
}

.strut-right-to-left{
  position: absolute;
  z-index: 100;
  height: 40px;
  width: 540px;
  right: 0;
  top: 185px;
  background: black;
  transform: skewY(-37deg);
}

.strut-upper{
  position: absolute;
  z-index: 100;
  bottom: 150px;
  right: -50px;
  height: 40px;
  width: 590px;
  background: black;
  transform: skewY(38deg);
}

.straight-beam{
  position: absolute;
  z-index: 100;
  top: 0px;
  left: 480px;
  height: 420px;
  width: 70px;
  background: black;
}
